//
// UTILITIES
// -----------------------------------------------------


/**
/*	General styles
/**/

html.no-js .hide-no-js {display: none;}
html.js-enabled .hide-js-enabled {display: none;}

big, .big {font-size: 16px;}

small, .small, .note {font-size: 10px;}

.alert, .error, .important, .required {
	color: $error-color;
	font-weight: bold;
}

.clear {clear: both;}

.accelerate {
	@include accelerate();
}

.clearfix {
	@include clearfix();
}

.hidetext {
	@include hidetext();
}

.offscreen {
	@include offscreen();
}

.pull-right {float: right;}
.pull-left {float: left;}

.align-right {text-align: right;}
.align-left {text-align: left;}
.align-center {text-align: center;}

.block {display: block;}
.inline {display: inline;}
.inline-block {display: inline-block;}

.hidden {visibility: hidden;}

.nowrap {white-space: nowrap;}

.normal {
	font-style: normal;
	font-weight: normal;
	text-transform: none;
}

.lower {text-transform: lowercase;}

.upper {text-transform: uppercase;}

.underline {text-decoration: underline;}

.strike {text-decoration: line-through;}

/*** /General styles ***/


/**
/*	List styles
/**/

nav ul, nav ol {list-style: none;}

ul.disc-list {list-style-type: disc;}
ul.circle-list {list-style-type: circle;}
ul.square-list {list-style-type: square;}
ol.numbered-list {list-style: decimal;}
ol.lower-alpha {list-style: lower-alpha;}
ol.upper-alpha {list-style: upper-alpha;}
ol.lower-roman {list-style: lower-roman;}
ol.upper-roman {list-style: upper-roman;}

ul.plain, ol.plain {list-style: none;}

ul.inline, ol.inline {
	list-style: none;
	> li {
		display: inline-block;
		margin: 0 0.5em;
	}
}

/*** /List styles ***/


/**
/*	Img styles
/**/

img.block {
	display: block;
	margin: 0 0 1.0em 0;
}

img.inline {
	display: inline;
	margin: 0 0.2em;
	vertical-align: bottom;
}

img.inset-left {
	float: left;
	margin: 0 20px 1.0em 0;
}

img.inset-right {
	float: right;
	margin: 0 0 1.0em 20px;
}

/*** /Img styles ***/
