//
// VARIABLES
// -----------------------------------------------------


// Typography
$base-font: Arial, sans-serif;
$alt-font: "Open Sans", Arial, sans-serif;

// Colors
$black: #000;
$white: #fff;
$gray-dark: #333;
$gray-med: #999;
$gray-light: #ccc;
$gray-xlight: #dedede;
$gray-xlight-alt: #cdcdcd;
$text-primary: #010101;
$text-light: #ccc;
$link-color: #900;
$link-color-active: #c00;
$button-color: #900;
$button-color-active: #c00;
$error-color: #900;
$border-color: #333;

// Paths
$image-path: "../img";
// $font-path: "../fonts";
